<div class="row justify-content-center">
    <div class="col-md-4">
        <% if(typeof alert !== 'undefined'){%>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error.msg %>
                </div>
        <% })} %>
        <% if(locals.message) {%>
            <div class="alert alert-success" role="alert">
                <%= locals.message %>
            </div>
        <% } %>
        <div class="form-container">
            <h3 class="mb-4">Register</h3>
            <form id="register_form" method="post" action="register">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="<%= typeof userDetails !== 'undefined' && userDetails !== null ? userDetails.username : '' %>">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= typeof userDetails !== 'undefined' && userDetails !== null ? userDetails.email : '' %>">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" value="<%= typeof userDetails !== 'undefined' && userDetails !== null ? userDetails.password : '' %>">
                </div>
                <button type="submit" class="btn btn-success w-100">Register</button>
            </form>
        </div>
    </div>
</div>