<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <table class="table text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
        <% if(typeof users !== 'undefined') { %>
            <% users.forEach(function(user, index){ %>
                <% if(user.role === 'user') { %>
                    <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td class="d-flex justify-content-center gap-2">
                            <form method="post" action="/admin/user">
                                <input type="hidden" name="user_id" class="user_id" value="<%= user._id %>">
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
                            <form method="post" id="user_delete_form" action="/admin/user/delete">
                                <input type="hidden" name="user_id" class="user_id" value="<%= user._id %>">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            <% }) %>
        <% } %>
            </tbody>
        </table>
    </div>
</div>